In [ ]:
%load_ext sql

In [ ]:
%sql sqlite://

15th July 2023-14th August 2023

In [ ]:
%%sql CREATE TABLE PricePeriods (
    price_period_id INTEGER PRIMARY KEY AUTOINCREMENT,
    start_date DATE,
    end_date DATE
);

 * sqlite://
Done.

[]

In [ ]:
%%sql INSERT INTO PricePeriods (start_date, end_date)
VALUES ('2023-07-15', '2023-08-14');

 * sqlite://
1 rows affected.

[]

In [ ]:
%%sql CREATE TABLE Towns (
    town_id INTEGER PRIMARY KEY AUTOINCREMENT,
    town_name TEXT
);

 * sqlite://
Done.

[]

In [ ]:
%%sql CREATE TABLE FuelPrices (
    price_id INTEGER PRIMARY KEY AUTOINCREMENT,
    price_period_id INTEGER,
    town_id INTEGER,
    super_petrol_price FLOAT,
    diesel_price FLOAT,
    kerosene_price FLOAT,
    FOREIGN KEY (price_period_id) REFERENCES PricePeriods (price_period_id),
    FOREIGN KEY (town_id) REFERENCES Towns (town_id)
);

 * sqlite://
Done.

[]

In [ ]:
%%sql INSERT INTO FuelPrices (price_period_id, town_id, super_petrol_price, diesel_price, kerosene_price)
VALUES
(1, 1, 191.62, 176.63, 166.43),
(1, 2, 192.39, 177.40, 167.19),
(1, 3, 192.00, 177.02, 166.81),
(1, 4, 192.00, 177.02, 166.81),
(1, 5, 192.62, 177.62, 167.41),
(1, 6, 192.77, 177.78, 167.57),
(1, 7, 193.21, 178.21, 168.01),
(1, 8, 194.73, 179.73, 169.52),
(1, 9, 195.17, 180.17, 169.97),
(1, 10, 195.47, 180.48, 170.28),
(1, 11, 195.17, 180.17, 169.97),
(1, 12, 194.06, 179.07, 168.86),
(1, 13, 194.15, 179.16, 168.95),
(1, 14, 191.95, 176.95, 166.75),
(1, 15, 192.14, 177.14, 166.95),
(1, 16, 193.57, 178.58, 168.37),
(1, 17, 193.75, 178.76, 168.56),
(1, 18, 191.79, 176.80, 166.60),
(1, 19, 193.32, 178.33, 168.12),
(1, 20, 194.68, 179.67, 169.48),
(1, 21, 194.68, 179.67, 169.48),
(1, 22, 194.94, 179.92, 169.73),
(1, 23, 195.13, 180.11, 169.93),
(1, 24, 195.00, 179.97, 169.79),
(1, 25, 195.24, 180.23, 170.03),
(1, 26, 195.48, 180.46, 170.28),
(1, 27, 195.87, 180.86, 170.66),
(1, 28, 195.78, 180.76, 170.58),
(1, 29, 196.17, 181.16, 170.97),
(1, 30, 196.16, 181.15, 170.95),
(1, 31, 196.34, 181.32, 171.13),
(1, 32, 196.12, 181.10, 170.91),
(1, 33, 196.43, 181.42, 171.23),
(1, 34, 196.33, 181.31, 171.12),
(1, 35, 196.75, 181.73, 171.54),
(1, 36, 196.76, 181.74, 171.55),
(1, 37, 197.80, 182.78, 172.60);

 * sqlite://
37 rows affected.

[]

In [ ]:
%%sql INSERT INTO Towns (town_name)
VALUES
('Mombasa'),
('Kilifi'),
('Likoni Mainland'),
('Kwale'),
('Malindi'),
('Lungalunga'),
('Voi'),
('Taveta'),
('Lamu'),
('Hola'),
('Mpeketoni'),
('Minjila'),
('Garsen'),
('Samburu'),
('Taru'),
('Mwatate'),
('Wundanji'),
('Kaloleni'),
('Marereni'),
('Nairobi'),
('Thika'),
('Machakos'),
('Kajiado'),
('Makuyu'),
('Muranga'),
('Sagana'),
('Embu'),
('Kerugoya'),
('Narok'),
('Nyeri'),
('Namanga'),
('Kiganjo'),
('Chuka'),
('Kitui'),
('Mwingi'),
('Nanyuki'),
('Nkubu');

 * sqlite://
37 rows affected.

[]