In [1]:
%load_ext sql

In [2]:
%sql sqlite://

In [3]:
%%sql CREATE TABLE FuelPrices (
    PricePeriod VARCHAR(100),
    Town VARCHAR(100),
    Super DECIMAL(10, 2),
    Diesel DECIMAL(10, 2),
    Kerosene DECIMAL(10, 2)
);

 * sqlite://
Done.

[]

In [4]:
%%sql INSERT INTO FuelPrices (PricePeriod, Town, Super, Diesel, Kerosene)
VALUES
('15th November 2021 - 14th December 2021', 'Mombasa', 127.46, 108.36, 101.29),
('15th November 2021 - 14th December 2021', 'Kilifi', 128.17, 109.07, 102.01),
('15th November 2021 - 14th December 2021', 'Likoni Mainland', 127.82, 108.71, 101.65),
('15th November 2021 - 14th December 2021', 'Kwale', 127.82, 108.71, 101.65),
('15th November 2021 - 14th December 2021', 'Malindi', 128.39, 109.27, 102.21),
('15th November 2021 - 14th December 2021', 'Lungalunga', 128.53, 109.43, 102.36),
('15th November 2021 - 14th December 2021', 'Voi', 128.94, 109.84, 102.76),
('15th November 2021 - 14th December 2021', 'Taveta', 130.36, 111.24, 104.18),
('15th November 2021 - 14th December 2021', 'Lamu', 130.77, 111.65, 104.59),
('15th November 2021 - 14th December 2021', 'Hola', 131.05, 111.94, 104.88),
('15th November 2021 - 14th December 2021', 'Nairobi', 129.72, 110.6, 103.54),
('15th November 2021 - 14th December 2021', 'Thika', 129.72, 110.6, 103.54),
('15th November 2021 - 14th December 2021', 'Machakos', 129.95, 110.84, 103.78),
('15th November 2021 - 14th December 2021', 'Kajiado', 130.13, 111.01, 103.95),
('15th November 2021 - 14th December 2021', 'Makuyu', 130, 110.88, 103.82),
('15th November 2021 - 14th December 2021', 'Muranga', 130.24, 111.12, 104.06);

 * sqlite://
16 rows affected.

[]

In [5]:
%%sql SELECT Town, Super, Diesel, Kerosene
FROM FuelPrices
WHERE (Town = 'Nairobi' OR Town = 'Mombasa')
AND PricePeriod = '15th November 2021 - 14th December 2021';

 * sqlite://
Done.

[('Mombasa', 127.46, 108.36, 101.29), ('Nairobi', 129.72, 110.6, 103.54)]

In [6]:
%%sql SELECT Town, MAX(Diesel) AS MaxDieselPrice
FROM FuelPrices
WHERE PricePeriod = '15th November 2021 - 14th December 2021'
GROUP BY Town
ORDER BY MaxDieselPrice DESC
LIMIT 1;

 * sqlite://
Done.

[('Hola', 111.94)]

In [7]:
%%sql CREATE TABLE FuelPrices2022 (
    PricePeriod VARCHAR(50),
    Town VARCHAR(50),
    Super DECIMAL(10, 2),
    Diesel DECIMAL(10, 2),
    Kerosene DECIMAL(10, 2)
);

 * sqlite://
Done.

[]

In [8]:
%%sql INSERT INTO FuelPrices2022 (PricePeriod, Town, Super, Diesel, Kerosene)
VALUES
    ('15th January 2022 - 14th February 2022', 'Mombasa', 127.46, 108.36, 101.29),
    ('15th January 2022 - 14th February 2022', 'Kilifi', 128.17, 109.07, 102.01),
    ('15th January 2022 - 14th February 2022', 'Likoni Mainland', 127.82, 108.71, 101.65),
    ('15th January 2022 - 14th February 2022', 'Kwale', 127.82, 108.71, 101.65),
    ('15th January 2022 - 14th February 2022', 'Malindi', 128.39, 109.27, 102.21),
    ('15th January 2022 - 14th February 2022', 'Lungalunga', 128.53, 109.43, 102.36),
    ('15th January 2022 - 14th February 2022', 'Voi', 128.94, 109.84, 102.76),
    ('15th January 2022 - 14th February 2022', 'Taveta', 130.36, 111.24, 104.18),
    ('15th January 2022 - 14th February 2022', 'Lamu', 130.77, 111.65, 104.59),
    ('15th January 2022 - 14th February 2022', 'Hola', 131.05, 111.94, 104.88),
    ('15th January 2022 - 14th February 2022', 'Nairobi', 129.72, 110.6, 103.54),
    ('15th January 2022 - 14th February 2022', 'Thika', 129.72, 110.6, 103.54),
    ('15th January 2022 - 14th February 2022', 'Machakos', 129.95, 110.84, 103.78),
    ('15th January 2022 - 14th February 2022', 'Kajiado', 130.13, 111.01, 103.95);

 * sqlite://
14 rows affected.

[]

The town with the lowest average price of Diesel for the period 15th January 2022 - 14th February 2022.

In [9]:
%%sql SELECT Town, AVG(Diesel) AS AverageDieselPrice
FROM FuelPrices2022
GROUP BY Town
ORDER BY AverageDieselPrice ASC
LIMIT 1;

 * sqlite://
Done.

[('Mombasa', 108.36)]

Which town had the highest price for Diesel during the period 15th January 2022 - 14th February 2022?

In [10]:
%%sql SELECT Town, MAX(Diesel) AS HighestDieselPrice
FROM FuelPrices2022;

 * sqlite://
Done.

[('Hola', 111.94)]

Find the average price of Super fuel across all towns for the period 15th January 2022 - 14th February 2022.

In [11]:
%%sql SELECT AVG(Super) AS AverageSuperPrice
FROM FuelPrices2022;

 * sqlite://
Done.

[(129.20214285714286,)]

In [12]:
%%sql CREATE TABLE FuelPricesJulyAug2023 (
    PricePeriod VARCHAR(50),
    Town VARCHAR(50),
    SuperPetrol DECIMAL(10, 2),
    Diesel DECIMAL(10, 2),
    Kerosene DECIMAL(10, 2)
);

 * sqlite://
Done.

[]

In [13]:
%%sql INSERT INTO FuelPricesJulyAug2023 (PricePeriod, Town, SuperPetrol, Diesel, Kerosene)
VALUES
    ('July 15th 2023 - August 14th 2023', 'Mombasa', 191.62, 176.63, 166.43),
    ('July 15th 2023 - August 14th 2023', 'Kilifi', 192.39, 177.40, 167.19),
    ('July 15th 2023 - August 14th 2023', 'Likoni Mainland', 192.00, 177.02, 166.81),
    ('July 15th 2023 - August 14th 2023', 'Kwale', 192.00, 177.02, 166.81),
    ('July 15th 2023 - August 14th 2023', 'Malindi', 192.62, 177.62, 167.41),
    ('July 15th 2023 - August 14th 2023', 'Lungalunga', 192.77, 177.78, 167.57),
    ('July 15th 2023 - August 14th 2023', 'Voi', 193.21, 178.21, 168.01),
    ('July 15th 2023 - August 14th 2023', 'Taveta', 194.73, 179.73, 169.52),
    ('July 15th 2023 - August 14th 2023', 'Lamu', 195.17, 180.17, 169.97),
    ('July 15th 2023 - August 14th 2023', 'Hola', 195.47, 180.48, 170.28),
    ('July 15th 2023 - August 14th 2023', 'Mpeketoni', 195.17, 180.17, 169.97),
    ('July 15th 2023 - August 14th 2023', 'Minjila', 194.06, 179.07, 168.86),
    ('July 15th 2023 - August 14th 2023', 'Garsen', 194.15, 179.16, 168.95),
    ('July 15th 2023 - August 14th 2023', 'Samburu', 191.95, 176.95, 166.75),
    ('July 15th 2023 - August 14th 2023', 'Taru', 192.14, 177.14, 166.95),
    ('July 15th 2023 - August 14th 2023', 'Mwatate', 193.57, 178.58, 168.37),
    ('July 15th 2023 - August 14th 2023', 'Wundanji', 193.75, 178.76, 168.56),
    ('July 15th 2023 - August 14th 2023', 'Kaloleni', 191.79, 176.80, 166.60),
    ('July 15th 2023 - August 14th 2023', 'Marereni', 193.32, 178.33, 168.12),
    ('July 15th 2023 - August 14th 2023', 'Nairobi', 194.68, 179.67, 169.48),
    ('July 15th 2023 - August 14th 2023', 'Thika', 194.68, 179.67, 169.48),
    ('July 15th 2023 - August 14th 2023', 'Machakos', 194.94, 179.92, 169.73),
    ('July 15th 2023 - August 14th 2023', 'Kajiado', 195.13, 180.11, 169.93),
    ('July 15th 2023 - August 14th 2023', 'Makuyu', 195.00, 179.97, 169.79),
    ('July 15th 2023 - August 14th 2023', 'Muranga', 195.24, 180.23, 170.03),
    ('July 15th 2023 - August 14th 2023', 'Sagana', 195.48, 180.46, 170.28),
    ('July 15th 2023 - August 14th 2023', 'Embu', 195.87, 180.86, 170.66);

 * sqlite://
27 rows affected.

[]

List all towns where the price of SuperPetrol was above 195.

In [14]:
%%sql SELECT Town
FROM FuelPricesJulyAug2023
WHERE SuperPetrol > 195;

 * sqlite://
Done.

[('Lamu',),
 ('Hola',),
 ('Mpeketoni',),
 ('Kajiado',),
 ('Muranga',),
 ('Sagana',),
 ('Embu',)]